.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.game{
  position: relative;
  margin: 10% auto;
  max-width: 700px;
  border-right: 1px solid #dedede;
  border-top: 1px solid #dedede;
}

.game .col{
  border-left: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  height: 100px;
  position: relative;
}

.game .col span{
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  margin: auto;
  margin-top: 25px;
}

.noplayer{
  display: none;
}

.player1{
  background: red;
}

.player2{
  background: yellow;
}

.youwinn{
    position: absolute;
    top: 0;
    margin: auto;
    right: 0;
    left: 0;
    bottom: auto;
    width: 700px;
    height: 600px;
    line-height: 660px;
    font-size: 45px;
    background: rgba(70, 124, 206, 0.5);
    font-weight: bold;
    color: #ffffff;
}